# Virtual Environments
oww_env/
venv/
env/
env_312/

# Python caching
__pycache__/
*.pyc
*.pyo
*.pyd

# Heavy Machine Learning Weights (Crucial!)
*.onnx
*.bin
*.pt
*.pth

# Environment / Secret tokens
.env

# Learning Databases
db/
books/
models/
*_cache/
MMaker/

# Backups from testing
bak/

# Logs
*.log
